<div class="app-navbar">
</div>
<div class="app-navbar-invisible">
    <a href="#me" class="items hover">
        <img (click)="handleClick($event)" name="me" class="img" src="../../../assets/icons/person.png">
    </a>
    <a href="#work" class="items hover">
        <img (click)="handleClick($event)" name="work" class="img" src="../../../assets/icons/work.png">
    </a>
    <a href="#studies" class="items hover">
        <img (click)="handleClick($event)" name="studies" class="img" src="../../../assets/icons/studies.png">
    </a>
    <a href="#game" class="items hover">
        <img (click)="handleClick($event)" name="game" class="img" src="../../../assets/icons/game.png">
    </a>
    <a href="#mail" class="items hover">
        <img (click)="handleClick($event)" name="mail" class="img" src="../../../assets/icons/mail.png">
    </a>
</div>